<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
<h1 align="center">Create Your NearBy Events</h1>
  
  <form action="eventdetails">
	  <h3 align="center">
Event Name:      <input type="text" name="eventname" /><br><br>
Timing:          <input type="text" name="timing" /><br><br>	  
Location:        <input type="text" name="location" /><br><br>	  
About the event: <input type="text" name="about" /><br><br>	  
                 <input type="submit" />
       </h3>
  </form>
    
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>
</html>