<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset=utf-8>
	<title>Home page</title>
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/events.css}" />



</head>

<body class="body">
	<div>

		<ul>
			<li><a href="http://localhost:8080/about">About</a></li>
			<li><a href="http://localhost:8080/register">Register</a></li>
			<li><a href="http://localhost:8080/login">Login</a></li>
			<li><a href="http://localhost:8080/createEvent">Create Events</a></li>
		</ul>


		<h1 align="center">Welcome to Eventz</h1>
		<br>
		<br>
		<br>
	</div>
</body>

</html>