<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Home page</title>
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/events.css}" />
</head>

<body class="body">
	<h1 style="font-size: 200%;" align="center"> Profile</h1>

	<form>

		<h3 align="center">
			<label for="email"> Email:</label><input type="text" th:value="${details.email}" /><br><br><br>
			<label for="password"> Password:</label><input type="text" th:value="${details.password}" /><br><br><br>
			<label for="name"> Name:</label><input type="text" th:value="${details.name}" /><br><br><br>
			<label for="phonenumber"> PhoneNumber:</label><input type="text" th:value="${details.phonenumber}" /><br><br><br>
			<label for="address"> Address:</label><input type="text" th:value="${details.address}" />
	</form>
	
	</h3>
	<br>

	<h3 align="center">
		<a href="http://localhost:8080/logout">Logout</a>
	</h3>

</body>

</html>