
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
.user {
	background-color:beige;
}
</style>
</head>
<body>
	<div class="user">
		<h3 style="font-size: 200%;"  align="center">
		    <br> <br><br> <br>
			Register page
		</h3>
		<br> <br>
		<form action="userdetails" method="post">
			<h3 align="center">
		Email:      <input type="text" name="email" required /><br><br>
		Password:   <input type="text" name="password" required /><br><br>
	    Name:       <input type="text" name="name" required><br><br>
	    PhoneNumber:<input type="text" name="phonenumber" required><br><br>
	    Address:    <input type="text" name="address" required><br><br>
			              <input type="submit" />
			</h3>
		</form>
		<br> <br> <br> <br> <br>
		<br>
	</div>
</body>
</html>